In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv("Book1.csv", index_col = None)

In [21]:
df

     y         X
0    1  0.064110
1    3  0.104243
2    5  0.154217
3   11  0.204726
4   13  0.300227
5   17  0.332968
6   19  0.372703
7   21  0.417894
8   27  0.475836
9   29  0.544064
10  37  0.627380
11  45  0.679096
12  51  0.732022

In [57]:
X = df["y"].values
y = df["X"].values

In [58]:
X = X.reshape(-1, 1)

In [59]:
x_train, x_test, y_train, y_test = train_test_split(X,y)

In [60]:
x_train

array([[ 1],
       [37],
       [ 5],
       [17],
       [11],
       [27],
       [ 3],
       [45],
       [21]], dtype=int64)

In [61]:
model = LinearRegression()

In [62]:
model.fit(x_train, y_train)

LinearRegression()

In [63]:
test = [[23]]

test.reshape(-1, 1)

In [64]:
model.predict(test)

array([0.40442486])

In [65]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

y_pred = model.predict(x_test)

In [66]:
r2_score(y_test, y_pred)

0.8993517707549428

In [67]:
print(model.intercept_)
print(model.coef_)

0.071296496651931
[0.01448384]